@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
   font-family: 'Nanum Gothic', sans-serif;

}
nav{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100vw;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 8px rgba(61, 58, 59, 0.2);
}
.nav-white{
    background-color: #fff;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}
nav ul{
    width: 50vw;
    margin-right: 20px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.showcase{
    background-color: #000;
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.showcase h1{
    letter-spacing: -4px;
    width: 80%;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header-container{
    position: relative;
}
.dark,.white,.header-content{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dark{
    position: absolute;
    z-index: 0;
     background-color: #000;
     color: #fff;
     transition: width 0.2s ease-in-out;
}
.white{
    position: absolute;
    z-index: -2;
    background-color: #fff;
    color: #000;
}
.header-content{
    background-color: transparent;
    position: absolute;
    z-index: 1;
    color: #fff;
     transition: color 0.1s ease-in-out;
     justify-content: flex-end;
     font-size: 30px;
}
.header-content h1{
     max-width: 30vw;

}
.header, .text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    height: 100vh;

}
.second-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200vh;
    position: relative;
}
.second-container .image{
    background: url("images/IMG_0115-3.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 50vw;
    top: 0;
    background-size: cover!important;
    background-position: center!important;
    z-index: 10;

}
.second-container .content{
    position: absolute;
    top: 0;
    height: auto;
    left: 50vw;
    padding: 30px;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    line-height: 2;
    box-sizing: content-box;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.second-container .content p{
    width: 30vw;
    opacity: 0.6;
    margin-top: 100px;
}
.second-container .content h1{
    max-width: 20vw;
    line-height: 1.2;
    text-transform: capitalize;
}
.btn{
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    margin-top: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.second-container .content h1 span{
    display: block;
    font-size: 80px;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.hhhhh{
    background-color: #000;
    width: 100vw;
    z-index: 15;
    height: 100vh;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 24px;
}
.third-container{
    background: url("images/Layer-1.jpg") no-repeat center center/cover;
    height: 200vh;
    width: 100vw;
    position: relative;
    padding-top: 30px;
}
.third-container h1{
    font-size: 60px;
    max-width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.third-container .text-content{
    width: 40vw;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    position: absolute;
    right: 50px;
    top: 60vh;
    line-height: 1.5;
}